@charset "utf-8";

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block;
}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,button,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,select,textarea,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	background:transparent;
	font-family:'NanumGothic',"돋움","dotum","돋움체","dotum che","Malgun Gothic","맑은 고딕","AppleGothicNeoSD","Apple SD 산돌고딕 Neo","Microsoft NeoGothic", "Droid sans", "본고딕","Noto Sans CJK Regular", sans-serif;
	-webkit-text-size-adjust:none;
}
body{
	-moz-osx-font-smoothing: grayscale;
	line-height:1.3;
	font-size:1em;
	color:#000;
	border-collapse:collapse;
	min-width:320px;
	letter-spacing:-0.03em;
}
body html:first-child select{padding-right:6px;height:20px;}
body legend{display:none;visibility:hidden;}
body img,body fieldset,body button{vertical-align:middle;border:0;}
body ul,body ol,body li{list-style:none;}
body address,body caption,body em,body var{font-style:normal;}
body ol,body ul,body dl{list-style:none;}
i {font-style:normal}
body fieldset,
body img{border:0;}
body legend,body .blind,body .hidden{
	visibility:hidden;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	width:1px;
	height:1px;
	font-size:0;
	line-height:0;
}

body table{border-collapse: collapse;}

body caption{
	visibility:hidden;
	overflow:hidden;
	width:1px;
	height:0;
	font-size:0;
	line-height:0;
}

body img{border:0;vertical-align:top;}

body input{vertical-align:middle;}
body input[type="text"],
body input[type="password"]{-webkit-appearance:none;}
body input[type="password"]{font-family:"NanumGothic";}
body input[type="password"]::placeholder {font-family:"NanumGothic";}
body input[type="checkbox"]{display:none; -webkit-appearance:none;-webkit-border-radius:0;}
body input:checked[type="checkbox"]{-webkit-appearance:checkbox}
/* body input[type="radio"]{border:none;-webkit-appearance:none} */

body button,body input[type="button"],
body input[type="submit"],
body input[type="reset"],
body input[type="file"]{
	-webkit-appearance:button;
	border-radius:0;
	margin:0;
	padding:0;
}
body textarea{-webkit-appearance:none;}
body a{
	font-size:100%;
	vertical-align:baseline;
	text-decoration:none;
	box-sizing:border-box;
	cursor: pointer;
}
body a[href^="tel"]{font-style:normal;}
body a:hover,body a:active,body a:focus{text-decoration:none;}
body button{
	border:0;
	vertical-align:middle;
	cursor:pointer;
	overflow:visible;
	background:transparent;
}
body button::-moz-focus-inner{border:0;padding:0;}
body label{cursor:pointer;}

body input,body button{border-radius:0;/*-webkit-appearance:none*/}
body ::-webkit-input-placeholder{color:#ccc}
body ::-moz-placeholder{color:#ccc}
body :-ms-input-placeholder{color:#ccc}
body input:-moz-placeholder{color:#ccc}
input:read-only, input:disabled {-webkit-opacity:1; opacity:1;}




/* input number arrow reset */
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
